@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


::selection {
    background: #237bac;
    color: #fff;
}

.container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

    .container .box {
        width: calc(33% - 10px);
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        border-radius: 5px;
        margin-bottom: 20px;
        max-height: 400px;
    }

    .container .box:nth-last-child(-n+2){
        width: calc(33% - 10px);
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        border-radius: 5px;
        margin-bottom: 70px;
        max-height: 400px;
    }

.box .quote i {
    margin-top: 10px;
    font-size: 45px;
    color: #17c0eb
}

.container .box .image {
    margin: 10px 0;
    height: 150px;
    width: 150px;
    background: #182c70;
    padding: 3px;
    border-radius: 50%;
}

.box .image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.bio{
    overflow: hidden;
}

.box p {
    text-align: justify;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #02084b; 
}

.box .name_actor {
    margin: 10px 0 5px 0;
    color: #182c70;
    font-size: 18px;
    font-weight: 600;
}

.btn {
    margin: 20px 2px 5px 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .btn button {
        margin: 0px 5px 5px 0px;
        background: #fff;
        width: 100%;
        padding: 9px 0px;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        transition: all 0.3s linear;
    }

        .btn .btn-details {
            border: 2px solid #237bac;
            color: #237bac;
        }

        .btn .btn-delete {
            border: 2px solid #ff0000;
            color: #ff0000;
        }

        .btn .btn-details:hover {
            background: #237bac;
            color: #fff;
        }

        .btn .btn-details:hover a {
            color: #fff;
            text-decoration: none;
        }

        .btn .btn-delete:hover {
            background: #ff0000;
            color: #fff;
        }

        .btn .btn-delete:hover a {
            color: #fff;
            text-decoration: none;
        }

@media (max-width:1045px) {
    .container .box {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width:710px) {
    .container .box {
        width: 100%;
    }
}
