    /* Google Fonts Import Link */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    /*logo del menu*/
    .nav-links {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0.8rem 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }

    /*lista que contiene el menu*/
    .nav-links li {
    list-style: none;
    margin: 0 12px;
    }

    /*boton de inicio del menu*/
    .nav-links li a {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    text-decoration: none;
    }

    /*efectos para todas las etiquestas de a
        que estan en el menu. Aqui se define la animancion
        de cada link.
        --------------------------------
    */
    .nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #237bac;
    border-radius: 12px;
    transition: all 0.4s ease;
    }


    .nav-links li a:hover:before {
    width: 100%;
    }

    .nav-links li.center a:before {
    left: 50%;
    transform: translateX(-50%);
    }

    .nav-links li.upward a:before {
    width: 100%;
    bottom: -5px;
    opacity: 0;
    }

    .nav-links li.upward a:hover:before {
    bottom: 0px;
    opacity: 1;
    }

    .nav-links li.forward a:before {
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
    }

    .nav-links li.forward a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
    }
/*------------------------------------*/

/*contenedor del buscador del menu*/
    .search{
        padding: 5px;
    }
/*aqui se describen las propiedades de la pequeña
    caja que se desplega al tocar el buscador: el input
*/
        .search .input-search {
            width: 0px;
            height: 40px;
            padding: 0 20px;
            font-size: 18px;
            color: #000;
            outline: none;
            border: 1px solid silver;
            border-radius: 30px;
            transition: all 0.6s ease;
        }

/*contenedor que contiene el boton azul del buscador*/
.btn-search {
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    background: #237bac;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

/*al hacer hover en el contenedor del todo el buscador;
    el tamaño del input para buscar se hará mas ancho,
    el efecto de agrandarse que se ve
*/
.search:hover .input-search {
    width: 240px;
}

/*y mientras se este seleccionado se mantendrá de ese tamaño*/
.search .input-search:focus {
    width: 240px;
}