
@media screen and (max-Width:1000px) {

    .aside_main_container {
        display: none;
    }

    .medidas {
        width: 90% !important;
        margin: auto;
    }

    .contenedor_aside_2 {
        display: initial !important;
    }

    .color_pelis_recientes {
        background-color: rgba(0,0,0,.09);
        padding: 1em;
        margin: 1em auto 4em auto !important;
        border: 1px solid gainsboro;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        width: 80%;
    }
}

@media screen and (max-Width:770px) {
    .color_pelis_recientes {
        margin-bottom: 20em !important;
    }
}

@media screen and (max-Width:600px) {
    .contenedor_aside_img_2 {
        display: grid;
        grid-template-columns: repeat(3,1fr) !important;
        line-height: 1px !important;
        gap: 2px;
        overflow: hidden;
    }
}

@media screen and (max-Width:500px) {
    .contenedor_aside_img_2 {
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
        line-height: 1px !important;
        gap: 2px;
        overflow: hidden;
    }

    .color_pelis_recientes {
        margin-bottom: 25em !important;
    }
}
