@model Actor

@{ 
    ViewData["Title"] = "Agregar Actor";
}

<div class="row">
    <div style="margin: auto;" class="col-md-6">
        <p>
            <h2>Agrega nuevo Actor</h2>
        </p>
        <div>
            <div class="col-md-12 offset-0">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <div class="form-group text-center">
                        <img id="PicturePreview" class="rounded-circle" width="200" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" />
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" />
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Agregar" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script>
        $(document).ready(function () {
            var img = document.getElementById('PicturePreview');
            img.src = $("#ProfilePictureURL").val();
        })

        $("#ProfilePictureURL").on("change", function () {
            var img = document.getElementById('PicturePreview');
            img.src = $(this).val();
        })
    </script>

}