<link rel="stylesheet" href="~/css/page/create.css" />
<link rel="stylesheet" href="~/css/root/nav-bar.css" />
@model Actor

@{
    ViewData["Title"] = "Agregar Actor";
}

<div class="container-form" style="position: relative;">
    <div class="content">
        <div class="image-box">
            <div class="form-group text-center">
                <img id="PicturePreview" class="border-info rounded-circle" style="max-width:200px" />
            </div>
            
        </div>
        <form asp-action="Create">
            <a class="btn btn-secondary" asp-action="Index" style="position: absolute; bottom: 20px; left: 20px;">Regresar</a>
            <div class="topic">Agregar Actor</div>
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="input-box">
                <label asp-for="ProfilePictureURL"></label>
                <input asp-for="ProfilePictureURL" type="text" placeholder="Foto de perfil">
                <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" type="text" placeholder="Nombre completo">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <label asp-for="Bio"></label>
                <input asp-for="Bio" type="text" placeholder="Biografia">
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input type="submit" value="Agregar">
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var img = document.getElementById('PicturePreview');
            img.src = $("#ProfilePictureURL").val();
        })

        $("#ProfilePictureURL").on("change", function () {
            var img = document.getElementById('PicturePreview');
            img.src = $(this).val();
        })
    </script>

}