<link rel="stylesheet" href="~/css/page/UpdateCinema.css" />
<link rel="stylesheet" href="~/css/root/nav-bar.css" />
@model Actor

@{
    ViewData["Title"] = "Actualizar Actor";
}

<div class="row nav-links justify-content-center" style="position: relative; width:90%;max-width:1400px; margin:auto;">
    <div class="content" style="width:90%;">
        <div class="image-box">
            <div class="form-group text-center">
                <img id="PicturePreview" class="border-info rounded-circle" style="max-width:200px" />
            </div>

        </div>
        <form asp-action="Update">
            <div class="card">
                <div class="form align-items-center">
                    <h1>Registro de Actores</h1>
                    <div class="grupo">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="ProfilePictureURL" type="text" required><span class="barra"></span>
                        <label asp-for="ProfilePictureURL"></label>

                    </div>
                    <div class="grupo">
                        <input asp-for="FullName" type="text" required><span class="barra"></span>
                        <label for="" asp-for="FullName"></label>

                    </div>
                    <div class="grupo">
                        <textarea class="form-control" asp-for="Bio" type="text" required style="max-height:200px; height: 100px; min-height:200px;"><span class="barra"></span>></textarea>
                        <label for="" asp-for="Bio"></label>
                    </div>
                
                    <div>
                        <a class="btn btn-secondary float-left" asp-action="Index" style="">Regresar</a>
                        <input style="" class="btn btn-success float-right" id="btnActualizar" type="submit" value="Actualizar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var img = document.getElementById('PicturePreview');
            img.src = $("#ProfilePictureURL").val();
        })

        $("#ProfilePictureURL").on("change", function () {
            var img = document.getElementById('PicturePreview');
            img.src = $(this).val();
        })
    </script>

}