
:root {
    --letra: #111c34;
    --subtitulo: #02084b;
    --fondo: #dae1e7;
    --fondoTitulo: #237bac;
    --lineas: #161616;
    --dobles: #182c70;
    --fuenteTitulo: 'Aleo', serif;
    --fuenteParrafo: 'Anton', sans-serif;
}
