<link href="~/css/page/completed.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-page row nav-links col-md-11 mr-auto ml-auto mb-5">
    <div class="modali">
        <div class="top-content bg-danger">
            <div class="left-text">
                Advertencia
            </div>
            <a class="close-icon text-white" asp-controller="Movies" asp-action="Index"><i class="fas fa-times"></i></a>
            <div class="fas fa-exclamation-triangle fa-check"></div>
        </div>
        <div class="bottom-content">
            <div class="text">
                Acceso denegado.
            </div>
            <p>
                No tienes permiso para acceder a la pagina <em class="lead">@ViewBag.Url</em>.
            </p>
            <div class="close-btn">
                <a class="text-white bg-danger" asp-controller="Movies" asp-action="Index">Cerrar</a>
            </div>
        </div>
    </div>
</div>