<link href="~/css/account/login.css" rel="stylesheet" />
@using Mirandas_Cinema.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Iniciar sesion";
}

<div class="container-login mt-5 mb-5 ml-auto mr-auto">
    <div class="cover">
        <div class="front">
            <img src="/resources/logos/cinemas-login.png" />
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            @* Formulario Login *@
            <div class="login-form">
                <div class="title font-weight-bold">Iniciar sesion</div>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input asp-for="Email" type="text" placeholder="Escriba su correo" />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input asp-for="Password" type="password" id="password" name="password" placeholder="Escriba su contraseña" />
                            <span id="show" class="show-span float-right"><i class="bi bi-eye-fill"></i></span>
                            <br />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="texto mt-3"><a href="#">Has olvidado tu contraseña?</a></div>
                        <div class="button input-box">
                            <input class="subtitle" type="submit" value="Ingresar">
                        </div>
                        <div class="texto sign-up-text">No tienes una cuenta? <a asp-action="Register" class="back-account subtitle text-decoration-none">Registrarse</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.querySelector('.input-box .show-span').addEventListener('click', e => {
            const passwordInput = document.querySelector('#password');
            if (e.target.classList.contains('show')) {
                e.target.classList.remove('show');
                passwordInput.type = 'text';
            } else {
                e.target.classList.add('show');
                passwordInput.type = 'password';
            }
        });
    </script>
    <script>
        document.querySelector('.input-box .span-register').addEventListener('click', e => {
            const passwordInput = document.querySelector('#password-register');
            if (e.target.classList.contains('show')) {
                e.target.classList.remove('show');
                passwordInput.type = 'text';
            } else {
                e.target.classList.add('show');
                passwordInput.type = 'password';
            }
        });
    </script>
    <script>
        document.querySelector('.input-box .span-confirmed').addEventListener('click', e => {
            const passwordInput = document.querySelector('#password-confirmed');
            if (e.target.classList.contains('show')) {
                e.target.classList.remove('show');
                passwordInput.type = 'text';
            } else {
                e.target.classList.add('show');
                passwordInput.type = 'password';
            }
        });
    </script>
    <script>
        $("#show").click(function () {
            $("#show").add('<i class="bi bi-eye-slash-fill"></i>');
        });
    </script>
}