<link href="~/css/page/completed.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Registro exitoso";
}
<div class="container-page row nav-links col-md-11 m-auto">
    <div class="modali">
        <div class="top-content">
            <div class="left-text">
                Exito
            </div>
            <a class="close-icon text-white" asp-controller="Movies" asp-action="Index"><i class="fas fa-times"></i></a>
            <div class="icon fas fa-check"></div>
        </div>
        <div class="bottom-content">
            <div class="text">
                Te has registrado correctamente .
            </div>
            <p>
                Ahora puedes iniciar sesion en tu cuenta y agregar al carrito nuestras peliculas.
            </p>
            <div class="close-btn">
                <a class="text-white" asp-controller="Movies" asp-action="Index">Cerrar</a>
            </div>
        </div>
    </div>
</div>
