<link rel="stylesheet" href="~/css/root/nav-bar.css" />

@{
    ViewData["Title"] = "Registro exitoso";
}

<div class="row nav-links col-md-11 m-auto">
    <div class="col-md-6 offset-3 alert alert-success text-center" style="margin: 140px auto; padding: 50px;">
        <h2>Registro completado con exito</h2>
        <p>
            Ahora puedes iniciar sesion en tu cuenta y comprar nuestras peliculas.
        </p>
        <hr />
        <p>Gracias por registrarse!</p>
    </div>
</div>