@{
    ViewData["Title"] = "prueba";
}

<div class="caja_contenedor" style="width:21.875em;height:auto;">

    <p class="p_1">Prueba</p>
    <p class="p_2">Probando estilos</p>
    <p class="p_3">
        "es un productor y director de televisión británico, quizás más conocido por sus colaboraciones " +
        "con Armando Iannucci. Como tal, ha trabajado en The Saturday Night Armistice, The Armando Iannucci Shows, " +
        "Time Trumpet y The Thick of It."
    </p>
    <button class="btn btn_details" type="button" role="button"><a href="#" class="btn_details_a">Detalles</a></button>
    <button class="btn btn_delete" type="button" role="button"><a href="#">Detalles</a></button>

</div>
