@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position: fixed; right: 10px; bottom: 10px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success rounded-circle">
            <i class="bi bi-plus" style="font-size:25px"></i>
        </a>
    </div>
}