@inject UserManager<ApplicationUser> UserManager;

    <style type="text/css">
        .dropdown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            gap:0.3em;
        }
    </style>

@if (!User.Identity.IsAuthenticated)
{
<div class="navbar_botones">
    @* Login *@
    <a class="btn btn-success my-2 my-sm-0 nav-item forward mr-1" asp-controller="Account" asp-action="Login">
        <i class="bi bi-person-circle"></i> Login
    </a>

    @* Register *@
    <a class="btn btn-primary my-2 my-sm-0 nav-item forward" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>
</div>
}

else
{
    @*Perfil de usuario*@
<div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-square"></i> @*@UserManager.GetUserName(User)*@
    </button>
    <ul class="dropdown-menu" aria-labelledby="profile-btn">
        <li>
            <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                <i class="bi bi-list"></i> Ordenes
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                    <i class="bi bi-people"></i> Usuarios
                </a>
            </li>
        }
    </ul>
    @*<span style="padding: 5px;"></span>*@
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> @*Logout*@
        </button>
    </form>
</div>
    @* Logout *@

}
