<link href="~/css/page/not-found.css" rel="stylesheet" />

<div class="error-page">
    <div class="content">
        <h2 class="header" data-text="404">
            404
        </h2>
        <h4 data-text="Opps! Page not found">
            Pagina no encontrada
        </h4>
        <p>
            Lo sentimos, la página que estás buscando no existe.
        </p>
        <div class="btns">
            <a asp-controller="Movies" asp-action="Index">Regresar</a>
        </div>
    </div>
</div>