<link href="~/css/page/not-found.css" rel="stylesheet" />

@{
    ViewData["Title"] = "No disponible";
}
<style type="text/css">
    .error-page {
        position: relative;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        width:90%;
        max-width:1400px;
        margin:auto;
        padding:1em 1em 0 1em;
    }
</style>
<div class="error-page mb-xl-5 rounded">
    <div class="content">
        <h2 class="header title" data-text="404">
            404
        </h2>
        <h4 data-text="Opps! Pagina no encontrada" class="title">
            Pagina no encontrada
        </h4>
        <p class="paragraph">
            Lo sentimos, la página que estás buscando no existe.
        </p>
        <div class="btns">
            <a asp-controller="Movies" asp-action="Index" class="subtitle">Regresar</a>
        </div>
    </div>
</div>