<link rel="stylesheet" href="~/css/nav-bar.css" />

<div class="row nav-links" style="width: 1140px; height: 570px; margin: auto;">
    <div class="col-md-6 offset-3">
        <h1 style="color: #237bac;">El recurso no esta disponible</h1>
        <hr />
        <a class="btn btn-success" asp-controller="Movies" asp-action="Index">Pagina Inicio</a>
    </div>
</div>