<link rel="stylesheet" href="~/css/page/CreateCinema.css" />
<link rel="stylesheet" href="~/css/root/nav-bar.css" />

@model Cinema
@{
    ViewData["Title"] = "Crear Cinema";
}
<style type="text/css">
    .card {
        width: 90%;
        height: auto;
        display: inline-flex;
        align-content: center;
        align-items: center;
        padding: 3em;
        margin: auto;
        left: 0px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0, 0.2);
        transition: all 400ms ease;
    }

    .formulario {
        margin: 1em;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .container_main {
        margin: auto;
        border-radius: 15px;
        max-width: 900px;
        margin-bottom: 18em;
    }
</style>
<div class="row align-content-center bg-white col-md-8 container_main">
    <div class=" col-md-12 offset-0">
        <div class="image-box">
            <div class="form-group text-center">
                <img id="PicturePreview" class="border-info rounded-circle " style="max-width:200px" />
            </div>

        </div>
        <form class="formulario" asp-action="Create">
            <div class="card">
                <div class="form align-items-center">
                    <h1>Registro de Cinemas</h1>
                    <div class="grupo">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Logo" type="text" required><span class="barra"></span>
                        <label asp-for="Logo"></label>
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="grupo">
                        <input asp-for="Name" type="text" id="name" required><span class="barra"></span>
                        <label for="" asp-for="Name"></label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="grupo">
                        <input asp-for="Description" type="text" id="name" required><span class="barra"></span>
                        <label for="" asp-for="Description"></label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div>
                        <button type="submit">Agregar</button>
                    </div>
                </div>
            </div>
            <a class="btn btn-secondary" style="width:max-content;margin: 0.3em 0 0.3em 2.5em;" asp-action="Index">Regresar</a>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var img = document.getElementById('PicturePreview');
            img.src = $("#Logo").val();
        })

        $("#Logo").on("change", function () {
            var img = document.getElementById('PicturePreview');
            img.src = $(this).val();
        })
    </script>

}