<link rel="stylesheet" href="~/css/page/detailCinema.css" />
@model Cinema

@{
    ViewData["Title"] = "Detalles Actor";
}

<div class="row nav-links justify-content-center" style="margin: 0 auto 55px; width: 90%; max-width: 1400px;">
    <div  class="col-md-10 offset-0 ">
        <p>
            <h2 class="nav-links col-md-11 offset-0 justify-content-center" style="margin:0 auto;">Detalles de @Model.Name</h2>
        </p>
        <div>
            <div class="col-md-12 offset-0">
                <div class="form-group text-center">
                    <img id="PicturePreview" class="border-info rounded-circle" style="max-width:150px" />
                </div>
                <form>
                    <div class="card">
                        <div class="form align-items-center">
                            <h1>Detalles de Cinema</h1>
                            <div class="grupo">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Logo" type="text" required readonly class="form-control"><span class="barra"></span>
                                <label asp-for="Logo"></label>

                            </div>
                            <div class="grupo">
                                <input asp-for="Name" type="text" required readonly><span class="barra"></span>
                                <label for="" asp-for="Name"></label>

                            </div>
                            <div class="grupo">
                                <textarea class="form-control" asp-for="Description" type="text" required readonly style="max-height:200px; height: 100px; min-height:200px;"><span class="barra"></span>></textarea>
                                <label for="" asp-for="Description"></label>
                            </div>

                        </div>
                    </div>
                </form>
                <div>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            <a class="btn btn-success float-right" asp-action="Update" asp-route-id="@Model.Id">Actualizar</a>
                        </div>
                    }
                    <div class="form-group">

                        <a class="btn btn-secondary float-left" asp-action="Index">Mostrar todos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var img = document.getElementById('PicturePreview');
            img.src = $("#Logo").val();
        })
    </script>

}