<link rel="stylesheet" href="~/css/root/nav-bar.css" />

<div class="row nav-links col-md-11 m-auto">
    <div class="col-md-6 offset-3 alert-success text-center" style="margin: 140px auto; padding: 50px;">
        <h2>Orden completada con exito</h2>
        <p>
            Puedes consultar todos tus pedidos en la sección de pedidos de tu perfil
        </p>
        <hr />
        <p>Gracias por su compra!</p>
    </div>
</div>