<link href="~/css/page/completed.css" rel="stylesheet" />
<div class="center">
    <input type="checkbox" id="click" />
    <label for="click" class="click ">Click</label>
    <div class="content">
        <div class="header">
            <h2>Orden completada</h2>
            <label for="click" class="fas fa-times"></label>
        </div>
        <label for="click" class="fas fa-check"></label>
        <p>Puedes consultar todos tus pedidos en la sección de ordenes de tu perfil.</p>
        <div class="line"></div>
        <label for="click" class="close">Cerrar</label>
    </div>
</div>